useDynLib(nvmix, .registration = TRUE)


### Imports ####################################################################

importFrom("stats",
           "runif", "rnorm", "pt", "qt", "dt", "pgamma", "rgamma", "pnorm",
           "sd", qchisq, "qnorm", "dnorm", "qgamma", "uniroot", "cov2cor",
           "cor", "cov", "cov.wt", "optim", "var", "pchisq",
           "dgamma", "mahalanobis", "pf", "ppoints", "qf")
importFrom("methods",
           "existsFunction", "hasArg")
importFrom("qrng",
           "sobol", "ghalton")
importFrom("utils",
           "head")
importFrom("Matrix",
	   "nearPD")
importFrom("graphics",
           "lines", "plot")

### Exports ####################################################################

export("dnvmix", "pnvmix", "rnvmix",
       "fitnvmix", "qnvmix", "qqplot_maha",
       "dStudent", "pStudent", "rStudent", "fitStudent",
       "dNorm", "pNorm", "rNorm", "fitNorm",
       "get_set_param",
       "dnvmixcop", "pnvmixcop", "rnvmixcop",
       "dgammamix", "pgammamix", "qgammamix", "rgammamix",
       "ESnvmix", "VaRnvmix")
